body, html {
    padding: 0;
    margin: 0;
    background-color: lightgray;
    height: 100%;
}

.picture {
    background: url('./images/restaurant_basic.jpg') no-repeat;
    background-size: 500px;
    width: 600px;
    height: 400px;
}

#chef {
    width: 90vw;
}

nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    gap: 30px;
    justify-content: center;
    margin-bottom: 30px;
}

.general-container {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
}

#content {
    display: flex;
    align-items: center;
    flex-direction: column;
    place-items: center;
    gap: 20px;
}

#welcome {
    text-align: center;
    width: 100%;
    font-size: 3rem;
    background: lightseagreen;
}

#message {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

#footer {
    text-align: center;
    background: grey;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 700;
}

.menu {
    display: grid;
    gap: 20px;
}

.appetizers,
.main-dishes,
.desserts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;
    padding: 10px;
    background-color: skyblue;
    align-items: top;
    text-align: center;
}

.appetizers > div,
.main-dishes > div,
.desserts > div {
    border: solid 2px green;
}

img {
    width: 100%;
}
