body {
    padding: 0;
    margin: 0;
}

.picture {
    background: url('./images/restaurant_basic.jpg') no-repeat;
    background-size: 500px;
    width: 600px;
    height: 400px;
}

#chef {
    width: 90vw;
}

nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    gap: 30px;
    justify-content: center;
    margin-bottom: 30px;
}

#content {
    display: grid;
    place-items: center;
    gap: 20px;
    background: linear-gradient(100deg, red, blue 70%);
}

#welcome {
    text-align: center;
    width: 100%;
    font-size: 3rem;
    background: lightseagreen;
}

#message {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

#footer {
    text-align: center;
    background: grey;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 700;
}
